.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

img{
  width: 80px;
}

header{
  position: relative;
}
.header>h1{
  /* position: absolute; */
  /* top: 50%; */
  display: inline;
}

.componentInfo{
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
  /* background-color: #61dafb; */
  justify-content: space-around;
}

.componentInfo>div{
  padding: 10px;
  border: double black 3px;
  margin: 20px;
  width: 25%;
  /* display: flex; */
}

.componentInfo>header{
  text-align: left;
}

.componentInfo>div>ul{
  text-align: left;
}

.jsxInfo{
  margin: 0 20%;
  text-align: left;
}

.footer{
  margin: 0 20%;
  text-align: left;
  font-size: 14px;
}
.footer>ul{
  font-size: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
